:root {
    --primary-color: #2678D1;
    --secondary-color: #093260;
    --light-color: #fff;
    --offSet-white: #f2f2f2;
    --black-color: #242424;
    --bs-primary-rgb: 38, 120, 209;
    --bs-secondary-rgb: 9, 50, 96;
    
}

a {
    text-decoration: none;
}

img{
    width: 100%;
}
* {
    box-sizing: border-box;
}

.hero-banner {
    position: relative;
    min-height: 650px;
    display: flex;
    align-items: center;
    overflow: hidden;
}


/*----feature post item----*/
.feature-post-list .image-croped{
    position: relative;
    padding-top: 50%;
}

.feature-post-list .blog-items-img{
position: absolute;
top: 0;
}

.post-item .tag-btn{
    display: none;
}

.splide__arrows button{
    top: 0%;
    transform: translateY(-3rem);
    border-radius: 0!important;
    background-color: var(--light-color);
    box-shadow: 1px 1px 6px rgba(0,0,0, .2);
    height: 2em;
    width: 3em;
}




.splide__arrows button:hover svg{
    fill:var(--light-color)!important;
}

.splide__arrows button:hover{
    background-color: var(--secondary-color);
}

.splide__arrow--prev {
    right: 4.5em!important;
    left: auto;
}


.splide__pagination {
    bottom: -2em;
    left: auto!important;
}

.splide__pagination button{
    border: 1px solid var(--secondary-color);
}
.splide__pagination .is-active{
    background-color: var(--primary-color);
}

/*----mansonry layout---*/
.mansonry-grid {
    position: relative;
    margin: 0;
    max-width: 100%;
}

.mansonry-grid-item {
    /* width: calc(50% - 15px); */
    margin-bottom: 30px;
    float: left;
}
@media (min-width: 576px)
{
    .mansonry-grid .col-sm-12 {
      width: calc(100% - 15px);
} 
}

@media (min-width: 768px)
{
    .mansonry-grid .col-md-6 {
     width:  calc(50% - 15px); 
}
}


.card-thumb-ready, .card-bottom{
    position: relative;
    overflow: hidden;
    border-color: var(--border-color)!important;
    background-color: var(--light-color)!important;

}

.blog-item-thumb img {
    width: 100%;

}

.thumb-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--secondary-color);
    opacity: .1;
}

.blog-card-title {
    color: var(--black-color);
    text-decoration: none;
}

.blog-card-excerpt {
    font-size: 14px;
}


/*---- Meta link -----*/
.card-meta-container * {
    font-size: 14px !important;
    color: var(--black-color);
}

.meta-link {
    text-decoration: none;
}

.author-avater-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 30px;
    border: 1px solid var(--offSet-white);
    height: 50px;
    width: 50px;
    padding: 5px;
    margin-right: 10px;
    box-shadow: 1px 1px 7px rgb(0, 0, 0, .14);
}

.author-avater-wrapper img {
    width: 100%;

}

.author-details {
    font-size: 12px;
    position: relative;
}

.author-name {
    font-weight: 600;

}

.author-position {
    text-decoration: none;
}

.blog-items-meta-link {
    text-decoration: none;
}

.blog-items-meta-link i {
    margin-right: 5px;
}

.blog-items-meta-divider {
    display: inline-block;
    width: 1px;
    height: 1rem;
    margin: 0 1rem;
    background-color: var(--black-color);
    opacity: .3;
    vertical-align: middle;
}


/*------side bar------*/
.side-bar-container {
    padding: 5px 15px;
}

.sidebar-feature-title {
    position: relative;
}

.cate-item {
    font-size: .80rem;
}

.cate-name {
    color: var(--black-color);
    text-decoration: none;
}

.cate-list hr {
    /* display: none; */
    opacity: .05;
}

.cate-list li:last-child hr {
    display: none;
    opacity: .05;
}

.trend-post-content .author-position {
    display: none;
}