


/* ====================START GLOBAL STYLES==================== */
:root {
	--bs-primary-rgb: 38, 120, 209;
  --bs-secondary-rgb: 9, 50, 96;
  

}



/* remove all empty spaces, margin and padding */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  list-style: none;
  word-wrap: break-word;
  font-family: "Poppins", sans-serif !important;
  letter-spacing: 0.08px;
}

@media (max-width: 767px) {
  p,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  small {
    line-height: unset !important;
  }
}

/* SPACING */
.section-padding {
  padding: 90px 0px;
}

.section-padding-top {
  padding-top: 90px;
}

.section-margin {
  margin: 90px 0px;
}

.mt__l {
  margin-top: 84px;
}

.mb__l {
  margin-bottom: 84px;
}

/* SPACING ENDS */








/* this class will change cursor type to pointer */
.cursor-pointer {
  cursor: pointer;
}

/*make center any tag, 
for making this, parent tag should be position relative*/
.d-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*---------heading text---------*/





/* ====================END GLOBAL STYLES==================== */
/* ----- ANIMATION START ----- */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* ----- ANIMATION ENDS ----- */


/* ------------------navbar start------------------*/
.navbar {
  position: absolute;
  background-color: transparent;
  width: 100%;
  z-index: 2;
}

.navbar .navbar-nav {
  font-size: 15px;
}
nav {
  background-color: white !important;
}

.navbar .navbar-nav a {
  color: rgba(0, 0, 0, 50%) !important;

}

.navbar .navbar-nav .active {
  color: #2678D1 !important;
  font-weight:500;
}

.navbar-show {
  position: fixed !important;
  top: -100px;

  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  z-index: 100;
  -webkit-box-shadow: 0px -4px 25px #2678D1;
          box-shadow: 0px -4px 25px #2678D1;
}

.navbar-show .navbar-nav a {
  color: #2678D1 !important;
}

.navbar-brand img {
  width: 100px;
  
}

.nav-item {
  margin-left: 10px;

 
}

.nav-line::after {
  content: " |";
  color: rgba(0, 0, 0, 10%);
  font-weight: bold;
  margin-left: 20px;

}

@media (max-width: 1200px) {
  .navbar-nav .nav-item {
    margin-left: 25px;
  }
}

@media (max-width: 991px) {
  .navbar-nav .nav-item {
    margin-left: 0px;
  }
  .navbar-collapse::after {
    content: "";
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .navbar-collapse.show .navbar-nav a {
    color: rgba(0, 0, 0, 0.5) !important;
  }
  .navbar-collapse.show .navbar-nav a.active {
    color: #0984e3 !important;
    font-weight: bold;
  }
  .navbar-collapse.show::after {
    opacity: 1;
  }
}

@media (max-width: 475px) {
  .navbar-brand img {
    width: 150px;
  }
}


/*--Social Icon----*/

.header_position-relative {
  
  color: #a7a7a7;
  margin: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  justify-content: center;

  border-radius: 50%;

  border: solid 1px #061524;

}


/* @media (max-width: 1200px) {
  .header__social-nav {
    display: none;
  }



} */







/* ------------------navbar end------------------*/



/*---------------------------home end---------------------------*/

/*--- Slider -----*/


.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider_banner{
  height: 60vw;
  max-height: 90vh;
  min-height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}



/*  -------------------------footer start------------------------- */
footer {
  padding: 30px 0px;
  overflow: hidden;
}

footer .container {
  position: relative;
  z-index: 1;
}

footer .footer__logo {
  width: 257px;
}

footer .footer__description {
  margin-top: 50px;
  margin-bottom: 63px;
  font-size: 18px;
}

footer .footer__social-nav a {
  margin-right: 30px;
  color: white;
  font-size: 24px;
  width: 50px;
  height: 35px;
  color: #6c5ce7;
  border: 2px solid #6c5ce7;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}




footer .footer__social-nav a i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}



footer .footer__social-nav a:hover {
  background-color: #0984e3;
  border-color: transparent;
  -webkit-box-shadow: 0px 5px 10px -5px #0984e3;
          box-shadow: 0px 5px 10px -5px #0984e3;
  color: white;
}




footer .footer__heading {
  font-size: 24px;
}



footer .footer__column {
  margin-top: 63px;
}


footer .footer__column:first-child {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.footer__column:first-child {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}



footer .footer-menu li a {
  color: #2a2b47;
  position: relative;
}

footer .footer-menu li a.active, footer .footer-menu li a:hover {
  color: #0984e3;
  font-weight: bold;
  left: 15px;
}

footer .footer-menu li a.active::after, footer .footer-menu li a:hover::after {
  content: "";
  display: block;
  width: 10px;
  height: 3px;
  background-color: #0984e3;
  position: absolute;
  top: 50%;
  left: -15px;
}

footer .footer__download-app-link {
  margin-top: 74px;
}

footer .footer__download-app-link .button:first-child {
  margin-right: 30px;
}

footer .footer__download-app-link .button__primary {
  color: #6c5ce7;
}

footer .footer__download-app-link .button__secondary {
  color: #6c5ce7;
}

footer .footer__download-app-link .button:hover {
  color: white;
}

@media (max-width: 1200px) {
  footer .footer__download-app-link .button:first-child {
    margin-right: 20px;
  }
}

/*  -------------------------footer end------------------------- */
/*# sourceMappingURL=style.css.map */



