


/* ====================START GLOBAL STYLES==================== */
:root {
	--primary-color: #2678D1;
  --secondary-color:#093260;
  --light-color:#fff;
  --offSet-white:#f2f2f2;
  --black-color:#000;
  --shadow-color:rgba(0,0,0, .2);
  --border-color:#eee;
	--bs-primary-rgb: 38, 120, 209;
  --bs-secondary-rgb: 9, 50, 96;
  --bs-body-font-size: .9rem;
  

}



/* remove all empty spaces, margin and padding */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  list-style: none;
  word-wrap: break-word;
  font-family: "Poppins", sans-serif !important;
  letter-spacing: 0.08px;
}

@media (max-width: 767px) {
  p,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  small {
    line-height: unset !important;
  }

}

a{
  text-decoration: none;
}

img{
  width: 100%;
}

/* SPACING */
.section-padding {
  padding: 90px 0px;
}

.section-padding-top {
  padding-top: 90px;
}

.section-margin {
  margin: 90px 0px;
}

.mt__l {
  margin-top: 84px;
}

.mb__l {
  margin-bottom: 84px;
}

/* SPACING ENDS */




/* TEXT COLORS ENDS */
/* CUSTOM BUTTONS */
.button {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  padding: 16px 32px;
  border-radius: 50rem;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  font-size: 18px;
  font-weight: bold;
  border: none;
  text-decoration: none;
}




.button__primary:hover {
  background-color: #6c5ce7;
}

.button__secondary {
  border: 2px solid #0984e3;
  border-radius: 50rem;
}

.button__secondary:hover {
  background-color: #0984e3;
}

.button-light {
  color: #0984e3;
  font-size: 18px;
}

.button-light:hover {
  text-decoration: none;
  color: #2a2b47;
}
.tag-btn{
  border: 1px solid var(--offSet-white);
  font-size: .75rem;
}
.tag-btn:hover{
  border-color:var(--offSet-white);
  background-color: var(--offSet-white);
}

.btn-accent{
  color: var(--light-color);
  background-color: var(--primary-color);
  padding: 5px 20px;
  display: flex;
  align-items: center;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .button {
    padding: 10px 20px;
    font-size: 15px;
  }
}

/* CUSTOM BUTTONS ENDS */




/* this class will change cursor type to pointer */
.cursor-pointer {
  cursor: pointer;
}

/*make center any tag, 
for making this, parent tag should be position relative*/
.d-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*---------heading text---------*/





/* ====================END GLOBAL STYLES==================== */
/* ----- ANIMATION START ----- */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* ----- ANIMATION ENDS ----- */


/* ------------------navbar start------------------*/
#main-nav{
  height: 103px;
}
.navbar {
  position: absolute;
  background-color: transparent;
  width: 100%;
  z-index: 2;
}
.nav-right{
  justify-content: end;
  margin-right: 1.5vw;
}

.navbar .navbar-nav {
  font-size: 15px;
}
nav {
  background-color: white !important;
}

.navbar .navbar-nav a {
  color: rgba(0, 0, 0, 50%) !important;

}

.navbar .navbar-nav .active {
  color: #2678D1 !important;
  font-weight:500;
}

.navbar-show {
  position: fixed !important;
  top: -100px;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  z-index: 100;
  -webkit-box-shadow: 0px -4px 10px var(--shadow-color);
          box-shadow: 0px -4px 10px var(--shadow-color);
          border-bottom: 1px solid var(--border-color);
}

.navbar-show .navbar-nav a {
  color: #2678D1 !important;
}

.navbar-brand img {
  width: 150px;
  
}

.nav-item {
  margin-left: 10px;

 
}

.nav-line::after {
  content: " |";
  color: rgba(0, 0, 0, 10%);
  font-weight: bold;
  margin-left: 20px;

}

@media (max-width: 1200px) {
  .navbar-nav .nav-item {
    margin-left: 25px;
  }
}

@media (max-width: 991px) {
  .navbar-nav .nav-item {
    margin-left: 0px;
  }
  .navbar-collapse::after {
    content: "";
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .navbar-collapse.show .navbar-nav a {
    color: rgba(0, 0, 0, 0.5) !important;
  }
  .navbar-collapse.show .navbar-nav a.active {
    color: #0984e3 !important;
    font-weight: bold;
  }
  .navbar-collapse.show::after {
    opacity: 1;
  }
}

@media (max-width: 475px) {
  .navbar-brand img {
    width: 150px;
  }
}


/* @media (max-width: 1200px) {
  .header__social-nav {
    display: none;
  }



} */


/*------------------Social Link and icon style------------------------------------*/

/*--Social Icon----*/
.header_position-relative {
  color: var(--primary-color);
  display: flex;
  margin: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid 1px var(--offSet-white);
  box-shadow: 1px 1px 8px var(--offSet-white);
}

/*-----on overlay icon-----*/
.section-had-bg .header_position-relative{
  color: var(--primary-color);
  border: none;
  box-shadow: none;
  background-color: var(--light-color);
}
.section-had-bg .header_position-relative i{
  color: var(--primary-color);
}



/* ------------------navbar end------------------*/




/*--------------------------Carousel Style--------------------------*/

.splide__arrows button{
  top: 0%;
  transform: translateY(-3rem);
  border-radius: 0!important;
  background-color: var(--light-color);
  box-shadow: 1px 1px 6px rgba(0,0,0, .2);
  height: 2em;
  width: 3em;
}

.splide__arrows button:hover svg{
  fill:var(--light-color)!important;
}

.splide__arrows button:hover{
  background-color: var(--secondary-color);
}

.splide__arrow--prev {
  right: 4.5em!important;
  left: auto;
}


.splide__pagination {
  bottom: -2em;
  left: auto!important;
}

.splide__pagination button{
  border: 1px solid var(--secondary-color);
}
.splide__pagination .is-active{
  background-color: var(--primary-color);
}

.team-item .item-thumb{
  overflow: hidden;
  padding: .50em;
}

.team-item .item-thumb .thumb-wrapper{
padding-top: 120%;
position: relative;
}

.item-thumb .thumb-wrapper .image-cropped{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.profile-social-link{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  visibility: hidden;
}

.team-item:hover .profile-social-link{
  transform: translate(-50%, -110%);
  visibility: visible;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

.thumb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--secondary-color);
  opacity: .1;
}

/*-------------------List and ---------------------------------------------*/
.our-values-list li{
list-style: inherit;
}


/*--------------------Form and input style-------------------------------------*/

form *{
  box-sizing: border-box;
}

footer .news-letter-form .form-control{
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: rgba(9,50,96,.8);
  border: 1px solid rgba(9,50,96,.8);
  border-color: transparent;
  padding: 10px;
  color: var(--light-color);
}

footer .news-letter-form button{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 20px;
}

/*------------------Tab and accordion-------------------------------*/
.tab-content nav{
  background-color: transparent!important;
}

.nav-tabs .nav-link,.nav-tabs .active{
  background-color: transparent!important;
  border-bottom-color: transparent!important;
}

/*------------------Section and Container --------------------------*/
.section{
  position: relative;
}

.section-content, .contant{
  position: relative;
}

.section-had-bg:not(.footer-section){
  min-height: 650px;
    position: relative;
    overflow: hidden;
}



/*------------------Section Background Image and Color Overlay------------------*/
.background-image {
  top: 0;
  left: 0;
}

.bg-image-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

.had-image{
  background-color: var(--secondary-color);
}

.bg-img {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  /* height: 100%; */
}

.had-image .bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--secondary-color);
  opacity: .7;
}

.section-title .image-empty .bg-overlay {
  background-color: var(--secondary-color);
  background: var(--secondary-color);
  background: linear-gradient(90deg, rgba(38, 120, 209,1) 0%, transparent 29%,transparent 50%);;
  opacity: .5;
}



/*---------------------------home---------------------------*/

/*--- Slider -----*/


.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider_banner{
  height: 45vw;
  max-height: 90vh;
  min-height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.section-had-bg *{
  /* color: #fff; */
}


/*-----------------Services Start---------------------*/



/*  -------------------------Services End------------------------- */


/*  -------------------------footer start------------------------- */

footer {
  padding: 30px 0px;
  overflow: hidden;
}

footer .container {
  position: relative;
  z-index: 1;
}

footer .footer__logo {
  width: 257px;
}

footer .footer__description {
  margin-top: 50px;
  margin-bottom: 63px;
  font-size: 18px;
}

footer .footer__social-nav a {
  margin-right: 30px;
  color: white;
  font-size: 24px;
  width: 50px;
  height: 35px;
  color: #6c5ce7;
  border: 2px solid #6c5ce7;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}




footer .footer__social-nav a i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}



footer .footer__social-nav a:hover {
  background-color: #0984e3;
  border-color: transparent;
  -webkit-box-shadow: 0px 5px 10px -5px #0984e3;
          box-shadow: 0px 5px 10px -5px #0984e3;
  color: white;
}

.social-link-wrapper a:first-child{
  margin-left: 0;
}


footer .footer__heading {
  font-size: 24px;
}



footer .footer__column {
  margin-top: 63px;
}


footer .footer__column:first-child {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.footer__column:first-child {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}



footer .footer-menu li a {
  color: var(--light-color);
  position: relative;
}

footer .footer-menu li a.active, footer .footer-menu li a:hover {
  color: #0984e3;
  font-weight: bold;
  left: 15px;
}

footer .footer-menu li a.active::after, footer .footer-menu li a:hover::after {
  content: "";
  display: block;
  width: 10px;
  height: 3px;
  background-color: #0984e3;
  position: absolute;
  top: 50%;
  left: -15px;
}

footer .footer__download-app-link {
  margin-top: 74px;
}

footer .footer__download-app-link .button:first-child {
  margin-right: 30px;
}

footer .footer__download-app-link .button__primary {
  color: #6c5ce7;
}

footer .footer__download-app-link .button__secondary {
  color: #6c5ce7;
}

footer .footer__download-app-link .button:hover {
  color: white;
}

@media (max-width: 1200px) {
  footer .footer__download-app-link .button:first-child {
    margin-right: 20px;
  }
}

/*  -------------------------footer end------------------------- */
/*# sourceMappingURL=style.css.map */





